/*container classses with fixed width*/

.container {
    width: 100%;
    height: auto;
}

.container-90 {
    width: 90%;
    height: auto;
}

.container-80 {
    width: 80%;
    height: auto;
}

.container-70 {
    width: 70%;
    height: auto;
}

.container-60 {
    width: 60%;
    height: auto;
}

.container-50 {
    width: 50%;
    height: auto;
}

.container-40 {
    width: 40%;
    height: auto;
}

.container-30 {
    width: 30%;
    height: auto;
}

.container-20 {
    width: 20%;
    height: auto;
}

.container-10 {
    width: 10%;
    height: auto;
}